@use '/src/assets/style/utils/colors.scss';

.elevated{
  background-color: colors.$neutral-dark-spell;
  box-shadow: 1px 1px 5px hsl(0, 0%, 0%);
}

.filled{
  background-color: colors.$neutral-dark-greyish-blue;
}

.outlined{
  background-color: colors.$neutral-gentle-blue;
}

.card{
  border-radius: 15px;
  color: colors.$primary-light-cyan;
  position: relative;
}

.headline{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 800;
}

.supporting_text{
  text-align: center;
  line-height: 1.4;
  text-wrap: balance;
  font-weight: 800;
}

.media_area{
  background: url('../../assets/svg/pattern-divider-desktop.svg') no-repeat center;
  width: 544px;
  height: 20px;
}

@media only screen and (max-width: 645px){
  .card {
    width: 342px;
  }

  .media_area{
    background: url('../../assets/svg/pattern-divider-mobile.svg') no-repeat center;
  }
}